/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_dark {
  --brand-color: var(--brand-dark-color, #000028);
  --text-color: var(--text-dark-color, #f1b2ce);
  --accent-color: var(--accent-dark-color, #ff0070);
  --focus-title-color: var(--focus-title-dark-color, #db00ff);
  --background-image: url("../images/cover-image-dark.png");
  --decoration-visibility: block;
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand-color: var(--brand-dark-color, #000028);
    --text-color: var(--text-dark-color, #f1b2ce);
    --accent-color: var(--accent-dark-color, #ff0070);
    --focus-title-color: var(--focus-title-dark-color, #db00ff);
    --background-image: url("../images/cover-image-dark.png");
    --decoration-visibility: block;
  }
}
