/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая те
  
*/

.page.theme_light {
  --brand-color: var(--brand-light-color, #fff1f7);
  --text-color: var(--text-light-color, #353430);
  --accent-color: var(--accent-light-color, #ff8dcb);
  --focus-title-color: var(--focus-title-light-color, #ffc2e6);
  --background-image: url("../images/cover-image-light.png");
  --decoration-visibility: hidden;
  --theme-switch-color: var(--text-light-color, #353430);
  --decor-text-color: var(--text-light-color, #353430);
  --section-title-color: var(--text-light-color, #353430);
  --border-opacity: var(--light-border-opacity, #32312d);
}

@media (prefers-color-scheme: light) {
  :root {
    --brand-color: var(--brand-light-color, #fff1f7);
    --text-color: var(--text-light-color, #353430);
    --accent-color: var(--accent-light-color, #ff8dcb);
    --focus-title-color: var(--focus-title-light-color, #ffc2e6);
    --background-image: url("../images/cover-image-light.png");
    --decoration-visibility: hidden;
    --theme-switch-color: var(--text-light-color, #353430);
    --decor-text-color: var(--text-light-color, #353430);
    --section-title-color: var(--text-light-color, #353430);
    --border-opacity: var(--light-border-opacity, #32312d);
  }
}
