/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/

:root {
  --brand-dark-color: #000028;
  --accent-dark-color: #ff0070;
  --text-dark-color: #f1b2ce;
  --focus-title-dark-color: #db00ff;

  --brand-light-color: #fff1f7;
  --text-light-color: #353430;
  --focus-title-light-color: #ffc2e6;
  --accent-light-color: #ff8dcb;

  --font-family: "IBM Plex Mono";
  --background-image: url("../images/cover-image.png");

  --decoration-visibility: visible;

  --dark-border-opacity: rgba(255, 0, 112, 0.6);
  --light-border-opacity: rgba(53, 52, 48, 0.6);
}
